.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.all-products{
  margin-top: 15px;
}

.btn{
  background-color: rgb(240, 187, 102);
  color: white;
  border: 1px solid rgb(240, 187, 102);
  border-radius: 3px;
  height: 35px;
  width: 125px;
  font-size: 14px;
}

.btn:hover{
  color:rgb(240, 187, 102);
}

.delete-btn{
  background-color: rgb(243, 113, 53);
  color: white;
  border: 1px solid rgb(243, 113, 53);
  border-radius: 3px;
  height: 35px;
  width: 80px;
  font-size: 14px;
  margin-left: 8px;
}

.delete-btn:hover{
  background-color: white;
  color: rgb(243, 113, 53);;
}

.product-list-item{
  text-decoration: none;
  color: black;
}

.product-list-item:hover{
  color: rgb(240, 187, 102);
  text-decoration: underline;
}

.dashboard-link{
  text-decoration: none;
  color: rgb(240, 187, 102);
}

.dashboard-link:hover{
  text-decoration: none;
  color: orange;
  font-size: 18px;
}

.edit-link{
  text-decoration: none;
  color: rgb(235, 113, 65);
}

.edit-link:hover{
  text-decoration: none;
  color: red;
  font-size: 18px;
}
